In [1]:
import pandas as pd

In [ ]:
data_path = 'data/train.csv'
data = pd.read_csv(data_path, index_col=0)
data.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [ ]:
for i, col in enumerate(data.columns):
    tipo = "categórico" if data.dtypes[col] == object else "numérico"
    valores_perdidos = data[col].isnull().sum()  # Contar valores NaN
    
    print(f'La columna "{col}" es de tipo {tipo}.', end=" ")
    
    if valores_perdidos > 0:
        print(f'Tiene {valores_perdidos} valores perdidos.')
    else:
        print('No tiene valores perdidos.')

La columna "id" es de tipo numérico. No tiene valores perdidos.
La columna "Gender" es de tipo categórico. No tiene valores perdidos.
La columna "Customer Type" es de tipo categórico. No tiene valores perdidos.
La columna "Age" es de tipo numérico. No tiene valores perdidos.
La columna "Type of Travel" es de tipo categórico. No tiene valores perdidos.
La columna "Class" es de tipo categórico. No tiene valores perdidos.
La columna "Flight Distance" es de tipo numérico. No tiene valores perdidos.
La columna "Inflight wifi service" es de tipo numérico. No tiene valores perdidos.
La columna "Departure/Arrival time convenient" es de tipo numérico. No tiene valores perdidos.
La columna "Ease of Online booking" es de tipo numérico. No tiene valores perdidos.
La columna "Gate location" es de tipo numérico. No tiene valores perdidos.
La columna "Food and drink" es de tipo numérico. No tiene valores perdidos.
La columna "Online boarding" es de tipo numérico. No tiene valores perdidos.
La columna "Seat comfort" es de tipo numérico. No tiene valores perdidos.
La columna "Inflight entertainment" es de tipo numérico. No tiene valores perdidos.
La columna "On-board service" es de tipo numérico. No tiene valores perdidos.
La columna "Leg room service" es de tipo numérico. No tiene valores perdidos.
La columna "Baggage handling" es de tipo numérico. No tiene valores perdidos.
La columna "Checkin service" es de tipo numérico. No tiene valores perdidos.
La columna "Inflight service" es de tipo numérico. No tiene valores perdidos.
La columna "Cleanliness" es de tipo numérico. No tiene valores perdidos.
La columna "Departure Delay in Minutes" es de tipo numérico. No tiene valores perdidos.
La columna "Arrival Delay in Minutes" es de tipo numérico. Tiene 83 valores perdidos.
La columna "satisfaction" es de tipo categórico. No tiene valores perdidos.